/* Hoja de estilos comunes */

/* Tipografías */

@font-face {
    font-family: "Paranoid";
    src: url(../fonts/Paranoid\ Starting\ Demo.ttf) format("truetype");
}

@font-face {
    font-family: "Kanit Bold";
    src: url(../fonts/Kanit-Bold.ttf) format("truetype");

}

@font-face {
    font-family: "Kanit Regular";
    src: url(../fonts/Kanit-Regular.ttf) format("truetype");
}


/*Variables*/

:root {
    --bg-primary: #fbfbf6;

    --color-1-talleres: #5b93bc;
    --color-2-coworking: #006d53;
    --color-3-monthly: #f0ff53;
    --color-4-la-plaza: #874aaf;

    --color-5-destacado: #db6561;

    --txt-primary: #211f1f;

    --box-shadow: 1px 1px 10px #e1e1e1;
}


/* body */

.Body {
    font-family: "Kanit Regular";
    color: var(--txt-primary);
    background-color: var(--bg-primary);
    width: 100vw;

    overflow-x: hidden;
}



/* estilos del Header */

.Header {
    z-index: 2;
    padding: 1em 2em 1em 2em;
    position: fixed;
    top: 0;
    background-color: var(--bg-primary);
    width: 100%;

}

.Header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-logo {
    width: 9em;
}

.Header-icon{
    display: flex;
}

.Menu {
    list-style: none;
    display: none;
}

.Menu.desplegado {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2em;
    justify-content: start;
    align-items: start;
    gap: 1.5em;
    background-color: var(--color-4-la-plaza);
    width: fit-content;
    border-bottom-left-radius: 40px;
    z-index: 1;
    
    
}

.Menu.desplegado .Menu-item {
    margin-top: 1em;
    font-size: smaller;
    padding: .1em;

}


.Menu-item {
    text-decoration: none;
    padding: .2em;
}

.Menu-link {
    margin-inline: .1em;
    text-decoration: none;
    padding: .6em;
    width: max-content;
    border-radius: 20px;
    background-color: var(--bg-primary);
    border: solid .05em var(--txt-primary);
    color: var(--txt-primary);
}

.Menu-link--Talleres:hover {

    background-color: var(--color-1-talleres);
    color: white;
}

.Menu-link--espacio:hover {
    background-color: var(--color-2-coworking);
    color: white;

}

.Menu-link--monthly:hover {
    background-color: var(--color-3-monthly);

}

.Menu-link--contacto:hover {
    background-color: var(--color-4-la-plaza);
    color: white;

}

.Menu-item:hover {
    transform: scale(1.1);
}


.MenuActivo {
    transform: scale(1.1);
}

/* utilities */

.u-displayNone {
    display: none;
}


/* Tablet */

@media only screen and (min-width: 768px){
    .Header {
        padding: 1em 2em 1em 2em;
        
    
    }

    .Header-icon{
        display: none;
    }

    .Menu{
        display: flex;
        flex-direction: row;
    }

}

/*  Desktop  */
@media only screen and (min-width: 1024px){
    .Header {
        padding: 2em 5em 2em 5em;
        
    
    }

    .Header-icon{
        display: none;
    }

    .Menu{
        display: flex;
        flex-direction: row;
    }
}

   

