/* Hoja de estilos comunes */

/* Tipografías */



@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf) format("truetype");

}

@font-face {
    font-family: "Kanit Regular";
    src: url(../fonts/Kanit-Regular.ttf) format("truetype");
}


/*Variables*/

:root {
    --bg-primary: #fbfbf6;

    --color-1-talleres: #5b93bc;
    --color-2-coworking: #006d53;
    --color-3-monthly: #f0ff53;
    --color-4-la-plaza: #874aaf;

    --color-5-destacado: #db6561;

    --txt-primary: #211f1f;

    --box-shadow: 1px 1px 10px #e1e1e1;
}


/* body */

.Body {
    font-family: "Lato Regular";
    color: var(--txt-primary);
    background-color: var(--bg-primary);
    width: 100vw;
}

.Body h2, .Body h3{
    font-family: "Kanit Regular";
}



/* estilos del Header */

.Header {
    z-index: 2;
    padding: 1em 2em 1em 2em;
    position: fixed;
    top: 0;
    background-color: var(--bg-primary);
    width: 100%;
    font-family: "Kanit Regular";

}

.Header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-logo {
    width: 9em;
}

.Header-icon{
    display: flex;
}

.Menu {
    list-style: none;
    display: none;
}

.Menu.desplegado {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2em;
    justify-content: start;
    align-items: start;
    gap: 1.5em;
    background-color: var(--color-4-la-plaza);
    width: fit-content;
    border-bottom-left-radius: 40px;
    z-index: 1;
    
    
}

.Menu.desplegado .Menu-item {
    margin-top: 1em;
    font-size: smaller;
    padding: .1em;

}


.Menu-item {
    text-decoration: none;
    padding: .2em;
}

.Menu-link {
    margin-inline: .1em;
    text-decoration: none;
    padding: .6em;
    width: max-content;
    border-radius: 20px;
    background-color: var(--bg-primary);
    border: solid .05em var(--txt-primary);
    color: var(--txt-primary);
}

.Menu-link--talleres:hover {

    background-color: var(--color-1-talleres);
    color: white;
}

.Menu-link--espacio:hover {
    background-color: var(--color-2-coworking);
    color: white;

}

.Menu-link--monthly:hover {
    background-color: var(--color-3-monthly);

}

.Menu-link--contacto:hover {
    background-color: var(--color-4-la-plaza);
    color: white;

}

.Menu-item:hover {
    transform: scale(1.1);
}



/* Footer */
.Footer{
    background-color: var(--txt-primary);
    color: var(--bg-primary);
    padding: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    
}

.Footer-contenido{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 8em;
}

.Footer-form{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1em;
    flex-wrap: wrap;
}

.Footer-formInput{
    padding: 1em;
    color: var(--bg-primary);
    background-color: var(--txt-primary);
    border: 1px solid var(--bg-primary);
    border-radius: 2em;


}

.Footer-formInput--txt{
    resize: none;
    width: 20em;
    height: 10em;
    overflow: hidden;
}

.Footer-formInput--btn:hover{
    background-color: var(--color-4-la-plaza);
    border: none;
 
    cursor: pointer;
    transform: scale(1.1);
}

.Footer-formInput::placeholder{
    font-family: "Kanit regular";


}

.Footer-direction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Footer-rrss{
    display: flex;
    gap: 2em;
    padding: 1em;
}

.Footer-link{

    text-decoration: none;
    color: var(--bg-primary);
}


/* utilities */

.u-displayNone {
    display: none;
}


/* Tablet */

@media only screen and (min-width: 768px){
    .Header {
        padding: 1em 2em 1em 2em;
        
    
    }

    .Header-icon{
        display: none;
    }

    .Menu{
        display: flex;
        flex-direction: row;
    }

}

/*  Desktop  */
@media only screen and (min-width: 1024px){
    .Header {
        padding: 2em 5em 2em 5em;
        
    
    }

    .Header-icon{
        display: none;
    }

    .Menu{
        display: flex;
        flex-direction: row;
    }
}

   

