  /* boton del menu coloreado */ 

  .Menu-link--espacio{
    background-color: var(--color-2-coworking);
    color: white;
}

.Main{
  align-items: start;
}

.Coworking{
  padding: 1em 3em 5em 3em;
  margin-left: 1em;
  margin-right: 2em;
}

.Coworking-content{

  display: flex;
  flex-direction: column;
  gap: 2em;

}

.Coworking-parrafo{
  margin-top: 1em;
}

.Coworking-img{
  width: 100%;
}

.Coworking-link{
  text-decoration: none;
  color: var(--color-2-coworking);

}
.Espacio{
  width: 100vw;
  background-color: var(--color-2-coworking);
}



  /* MQs */

  /*Tablet y desktop */
  @media only screen and (min-width: 768px) {

    .Coworking{
      padding: 1em 5em 5em 5em;
    }

    .Coworking-content{

      flex-direction: row;
    
    }

    .Coworking-img{
      width: 50%;
      object-fit: cover;
    }


  }
  

  

