@font-face {
    font-family: "Paranoid";
    src: url(../fonts/Paranoid\ Starting\ Demo.ttf) format("truetype");
}
@font-face{
    font-family: "Kanit Bold";
    src: url(../fonts/Kanit-Bold.ttf) format("truetype");

}
@font-face{
    font-family: "Kanit Regular";
    src: url(../fonts/Kanit-Regular.ttf) format("truetype");
}

/*Variables*/

:root {
    --bg-primary: #fbfbf6;
    --bg-secondary: linear-gradient(48deg, rgba(201,137,198,1) 0%, rgba(136,168,188,1) 50%, rgba(0,109,83,1) 100%);

    --color-1-talleres: #5b93bc ;
    --color-2-coworking: #006d53 ;
    --color-3-monthly: #f0ff53 ;
    --color-4-la-plaza: #874aaf ;

    --txt-primary: #211f1f;
    --txt-secondary: #3a2539;

    --box-shadow: 1px 1px 10px #e1e1e1;

}

/* utilities */

.u-textoSubrayado{
    text-decoration: var(--txt-primary) underline;
    text-decoration-thickness: from-font;
}

.u-logoFamily{
    color: var(--color-4-la-plaza);
    font-family: "Paranoid";
    font-size: 7vw;
}


/* estilos comunes*/

.Body{
    font-family: "Kanit Regular";
    color: var(--txt-primary);
    background-color: var(--bg-primary);
}



/* estilos del Header */

.Header{
    flex-direction: row;
    padding: 20px;

}

.Header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-logo{
    width: 9rem;
}

.Menu{
    list-style: none;
    display: flex;
}

.Menu-item{
    text-decoration: none;
    padding: .2em;
}
.Menu-link{
    margin-inline: .1em;
    text-decoration: none;
    padding: .6rem;
    width: max-content;
    border-radius: 20px;
    background-color: var(--bg-primary);
    border: solid .05em var(--txt-primary);
    color: var(--txt-primary);
}
.Menu-link--Talleres:hover{
   
    background-color: var(--color-1-talleres);
    color: white;
}
.Menu-link--espacio:hover{
    background-color: var(--color-2-coworking);
    color: white;
  
}
.Menu-link--monthly:hover{
    background-color: var(--color-3-monthly);
   
}
.Menu-link--contacto:hover{
    background-color: var(--color-4-la-plaza);
    color: white;
   
}

.Menu-item:hover{
    transform: scale(1.1);
}


/* estilos del inicio*/

.Principal{
   background-image: url(../img/background-img.jpg);
    background-size: cover;

}

.Principal-h1{
    padding: 80px;
    font-size: 10vw;
    line-height: 90%;
    margin-bottom: .2em;
   
}

.Principal-img{
    position: sticky;
    top: 0;
    bottom: 0;
    width: 100vw;
}



.Novedades{
    padding: 5em;
}


/*About*/
.About{
    background-color: var(--color-3-monthly);
    padding: 80px;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.About-question{
    padding: .4em;
    border-radius: 20px;
    background-color: var(--bg-primary);
    border: solid .05em var(--txt-primary);
    width: fit-content;
    background-color: var(--color-3-monthly);
}
.About-question:hover{
    text-decoration: underline;
    background-color: var(--color-4-la-plaza);
    color: var(--bg-primary);
}

.About-content{
    margin-left: .5em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.About-item.open .About-content {
    max-height: 300px;

}
.About-item.open .About-question{
    background-color: var(--color-4-la-plaza);
color: var(--bg-primary);
}   

/* Galería */

.Galeria{
    padding: 80px;

}
.Galeria-title{

}
.Galeria-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    gap: 1em;
    justify-content: center;
    object-fit: cover;
    overflow-x: scroll;
    
}

.Galeria-img{
}