  /* boton del menu coloreado */

  .Menu-link--talleres {

      background-color: var(--color-1-talleres);
      color: white;
  }


  .Paso {
      width: 30%;
      text-align: center;
      border: 1px solid var(--bg-primary);
      border-radius: 20px;
      padding: 3em;
      cursor: pointer;
      transition: transform .4s ease;
      color: var(--bg-primary);
      text-decoration: none;
      box-shadow:  5px 5px 15px #00506f,
             -5px -5px 15px #007aa9;
  }



  .Paso:hover {
      transform: scale(1.1);

  }

  .Pasos {
      background-color: var(--color-1-talleres);
      width: 100%;
      display: flex;
      gap: 4em;
      padding: 4em;
      color: var(--bg-primary);
  }

  .fa-solid {
      padding: 1.5em;
      border-radius: 30px;
  }

  .Nav {
      display: flex;
      gap: 1em;
      margin-bottom: 3em;
      font-size: small;
      justify-content: center;
  }

  .Nav-item {
      cursor: pointer;
      padding: .6em;
      width: max-content;
      transition: color .5s ease,
          transform .5s ease;

  }

  .Nav-item:hover {

      transform: scale(1.1);

  }

  .Nav-item.u-activo {
      transform: scale(1.1);
      text-decoration: underline;
      color: var(--color-1-talleres);


  }



  .Contenido {
      display: flex;
      flex-direction: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      padding: 2em;
      position: relative;
      
  }

  .Contenido-bloque {
      padding: 1em;
      position: absolute;
      top: 0;
      opacity: 0;
      transition: all .5s ease;

  }

  .Contenido-bloque.u-activo {
      opacity: 1;

  }

  .u-activo {
      opacity: 1;
  }

  /* Talleres */

  .Talleres {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .Talleres-grid {
      width: 80vw;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: auto;
      gap: 2em;
      grid-auto-flow: row;
  }

  .Talleres-card {
      object-fit: cover;
      border: 1px solid var(--color-1-talleres);
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      border-radius: 20px;
      font-size: small;


  }

  .Talleres-cardImg {
      width: 100%;
      height: 20em;
      object-fit: cover;
      border-radius: 20px 20px 0 0;

  }

  .Talleres-cardInfo{
    padding: 1em;

  }


  /* Calendario */

  .Calendario {
    width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5em;
      padding: .5em;
      border-radius: 20px;
  }

  .Calendario-dia {
      width: 100%;
      background-color: var(--bg-primary);
      border: 1px solid var(--color-1-talleres);
      border-radius: 20px;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
  }

  .Calendario-nombreDia {
      text-align: center;
      font-size: large;
      color: var(--color-1-talleres);
      width: 100%;
      padding: .5em;
  }

  .Calendario-section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
  }

  .Calendario-actividad {
      background-color: var(--color-1-talleres);
      padding: .5em;
      border-radius: 20px;
      margin: .5em;
      color: var(--bg-primary);
  }

  .Calendario-cerrado {
      font-size: large;
      background-color: var(--color-5-destacado);
      padding: .5em;
      border-radius: 20px;
      margin: .3em;
      color: var(--bg-primary);
      transform: rotate(-5deg);
  }



  /* Media Queries */



  /* Tablet y  Desktop  */
  @media only screen and (min-width: 768px) {
      .Calendario {
          height: 100%;
          display: grid;
          width: 100vw;
          grid-template-columns: repeat(4, 1fr);
          grid-template-areas:
              "lunes martes miercoles ."
              "jueves viernes sabado domingo"
          ;
          gap: 10px;
          justify-items: center;
          align-items: start;

      }

      .Calendario-dia {
          min-width: 50%;
          height: 100%;
          justify-content: start;
          font-size: smaller;
          white-space: nowrap;

      }

      .Calendario:nth-child(1) {
          grid-area: lunes;
      }

      .Calendario:nth-child(2) {
          grid-area: martes;
      }

      .Calendario:nth-child(3) {
          grid-area: miercoles;
      }

      .Calendario:nth-child(4) {
          grid-area: jueves;
      }

      .Calendario:nth-child(5) {
          grid-area: viernes;
      }

      .Calendario:nth-child(6) {
          grid-area: sabado;
      }

      .Calendario:nth-child(7) {
          grid-area: domingo;
      }
  }